.markdown {
  display: grid;
  padding: calc(0.5rem) 0.5rem;
  border: 1px solid var(--color-11);
  overflow: auto;
  user-select: auto;
  -webkit-user-select: auto;
  cursor: auto;
}


.markdown table,
.markdown tr,
.markdown td {
  border: 1px solid;
}

.markdown td {
  padding: 0 0.5rem;
}

.markdown table {
  border-collapse: collapse;
}
